@{
    ViewData["Title"] = "Person Contacts";
}

<div class="text-center">
    <p>Create and Edit Person's Contacts Information</p>
</div>


<div class="row">
    <input type="hidden" class="form-control" style="width:350px" id="id">

    <div class="mb-3">
        <label for="selectPerson" class="form-label">Person</label>
        <select name="person" id="selectPerson" class="form-control" asp-items="@ViewBag.Persons">
            <option valaue="0">  </option>
        </select>

    </div>

    <div class="mb-3">
        <label for="phoneNumber" class="form-label">Phone Number</label>
        <input type="tel" class="form-control" style="width:350px" id="phoneNumber">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" style="width:350px" id="email">
    </div>
    <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" class="form-control" style="width:350px" id="location">
    </div>
    <button type="submit" id="btnSave" class="btn btn-primary m-2">Save</button>
    <button type="submit" id="btnAddNew" class="btn btn-secondary m-2">Add New Contact For Selected Person</button>


</div>

<span>
    <button type="button" id="btnReload" style="width:100px" class="btn btn-secondary my-2">Reload</button>
</span>
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-header-title" style="color:midnightblue">Contact List </h5>
        </div>
        <div class="card-body">

            <table id="contactTable" class=" table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name Surname</th>
                        <th>Email</th>
                        <th>Location</th>
                        <th>PhoneNumber</th>
                        <th>Person Id</th>
                        <th></th>
                    </tr>
                </thead>

                <tbdoy></tbdoy>
            </table>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {

        var pId = $("#selectPerson").val();

        $('#contactTable').DataTable({
            ajax: {
                'url': '/home/ContactList',
                "dataSrc": "data",
                "data": { personId: pId }
            },
            columns: [
                { data: 'fullName', name: "FullName" },
                { data: 'email', name: "Email" },
                { data: 'location', name: "Location" },
                { data: 'phoneNumber', name: "PhoneNumber" },
                { data: 'personId', name: "PersonId" },

                {
                    data: 'id', render: function(data, type, row, meta) {
                        return "<button class='btn btn-primary' style='margin-right:5px' onclick='edit(" + JSON.stringify(row) + ")'>Edit</button> <button class='btn btn-danger' style='margin-right:5px' onclick='deleteContact(" + JSON.stringify(row) + ")'> Delete </button>";

                    }
                }
            ]
        });


        $("#btnSave").click(function() {


            var pId = $("#selectPerson").val();
            if (pId == 0 || pId == null || pId.trim() == "") {

                return alert("Please select person!");

            }

            var contact = {
                Location: $("#location").val(),
                Email: $("#email").val(),
                PhoneNumber: $("#phoneNumber").val(),
                Id: $("#id").val(),
                PersonId: pId
            };

            $.ajax({
                url: "/home/ContactSave",
                data: contact
            }).done(function(data) {
                alert("saved");
                reloadGrid();
            });
        });


        $("#btnAddNew").click(function() {
            reset();
        });

        $("#btnReload").click(function() {
            reloadGrid();
        });

    });

    function reloadGrid() {
        $('#contactTable').DataTable().clear();
        $('#contactTable').DataTable().ajax.reload();
    };


    function edit(contact) {

        $("#location").val(contact.name);
        $("#email").val(contact.surname);
        $("#phoneNumber").val(contact.phoneNumber);
        $("#id").val(contact.id);
        $("#selectPerson").val(contact.personId);
    };

    function deleteContact(contact) {

        $.ajax({
            url: "/home/ContactDelete",
            data: { id: contact.id }
        }).done(function(data) {
            alert("deleted");
            reloadGrid();
        });
    };


    function reset() {
        $("#location").val("");
        $("#email").val("");
        $("#phoneNumber").val("");
        $("#id").val("");
    };

</script>

